.intro-section {
  background: url('https://images.unsplash.com/photo-1505504506221-02359e1e5812?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd9bca4f7d0aece3b6a7038ff539fd99&auto=format&fit=crop&w=1500&q=80');
  background-position: center;
  min-height: 800px;
  display: flex;
  align-items: center;
}

.jumbotron {
  background-color: black;
  color: white;
  opacity: 0.85;
}

.jumbotron hr {
  border-top: 3px solid white;
  width: 50%;
}

.intro-img-div {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.intro-img {
  border: 5px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.icons {
  text-align: center;
}
