.about-section {
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
  padding: 50px 0;
}

.about-section p {
  font-size: 15px;
  text-align: left;
}

@media (min-width: 540px) {
  .about-section p {
    font-size: 20px;
  }
}
