.contact-section {
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
  padding: 50px 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.contact-container {
  margin: auto;
}

.contact-container p {
  font-size: 2rem;
}

@media (min-width: 540px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
  }

  .contact-container p {
    font-size: 2.5rem;
  }
}
